* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: lightblue;
  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1 {
  width: 100vw;
  padding-left: 3.5vw;
  background-color: gray;
}

main>div {
  height: 80vh;
  overflow-y: scroll;
  background-color: rgb(245, 245, 245);
  border: 1.5px dashed black;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 1px 1px;
}

main>div:nth-child(1) {
  width: 30vw;
}

main>div:nth-child(2n) {
  width: 60vw;
}

.title {
  text-align: center;
}